# Do NOT commit real credentials.
SNOWFLAKE_ACCOUNT=<your_account_identifier>
SNOWFLAKE_USER=<your_user>
SNOWFLAKE_PASSWORD=<your_password>
SNOWFLAKE_ROLE=HEALTH_DATA_ENGINEER
SNOWFLAKE_WAREHOUSE=HEALTH_DW_WH
